body {
    margin: 0;
}

#content {
    height: calc(100vh - 40px)
}

#code-frame {
    float: left;
    width: 40%;
    margin: 0;
    height: calc(100vh - 40px)
}

#output-frame {
    float: left;
    width: calc(60% - 3px);
    height: calc(100vh - 40px)
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 20px;
}